
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body{
  font-family: Arial,sans-serif;
  background-colour: #f0f0f0;
}

.header{
  text-align: center;
  color:#fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size:50px;
}

.box{
  display:
}
   

    